#Inadequate {
    color: #595959;
}

#Good {
    color: #3BA810;
}

#Satisfactory {
    color: #72B048;
}

#Moderate {
    color: #A5B93F; 
}

#Poor {
    color: #BF9000;
}
#Very {
    color: #D20000;
}

#Severe {
    color: #640000;
}
