.aqi_grey {
    color: #595959;
}

.aqi_brightgreen {
    color: #3BA810;
}

.aqi_green {
    color: #72B048;
}

.aqi_yellow {
    color: #A5B93F; 
}

.aqi_amber {
    color: #BF9000;
}
.aqi_red {
    color: #D20000;
}

.aqi_darkred {
    color: #640000;
}

#pollutants {
    height: 170;
    padding-top: 2;
    padding-bottom: 2;
}

#trends {
    padding-top: 2;
    padding-bottom: 2;
}

.value {
    font-family: 'Poppins Bold', 'Poppins-Bold';
    font-size: 15;
}

.poll_name {
    margin-top: -7.5;
    letter-spacing: 0.3;
    color: rgb(88, 88, 88);
}

.location-area {
    color: rgb(88, 88, 88);
}

.poll-main {
    color: rgb(88, 88, 88);
}